@inherits LayoutComponentBase
@layout AccountLayout

<h1 class="offset-2 mt-3">Manage your account</h1>

<div class="offset-2">
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
