@page "/managerdetails/{Id:int}"
@inject ApplicationDbContext _app

@if(Employee is null)
{
    <p class="text-shadow">No manager found.</p>
}
else
{
    <div class="m-3 card shadow">
        <div class="row">
            <div class="col-8">
                <table class="mx-5 py-5 my-3 w-100">
                    <tr>
                        <th class="h2">Employee ID:</th>
                        <td class="h2">@Employee.EmployeeId</td>
                    </tr>
                    <tr>
                        <th class="h2">Employee Name:</th>
                        <td class="h2">@Employee.EmployeeName</td>
                    </tr>
                    <tr>
                        <th class="h2">Email:</th>
                        <td class="h2">@Employee.Email</td>
                    </tr>
                   
                </table>
            </div>
            <div class="col-2 mt-2 mb-2">
                <img src="@($"/images/managers/manager{Employee.EmployeeId}.jpg")" alt="Alternate Text" class="img-fluid rounded-circle"
                     style="width:180px; height:180px; background-position:center;"
                     onerror="this.onerror=null;this.src='/images/avatar.png';" />
            </div>
        </div>
       
       
    </div>
    <GoBack />
}

@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public Employee Employee { get; set; } = new Employee();

    protected override async Task OnInitializedAsync()
    {
        Employee = await _app.Employees.FirstOrDefaultAsync(e => e.EmployeeId == Id);
    }
}
