@inject IJSRuntime js

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        @if (ShowMainContent)
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">@Title driver</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="Driver" Enhance OnValidSubmit="Save">
                        <DataAnnotationsValidator />
                        <div class="form-group mb-2">
                            <label class="form-label mb-1" for="name">Driver's name</label>
                           <InputText @bind-Value="Driver.DriverName" class="form-control"></InputText>
                            <ValidationMessage For="() => Driver.DriverName" TValue="string"></ValidationMessage>
                        </div>
                        <div class="form-group mb-2">
                            <label class="form-label mb-1" for="carreg">Car number</label>
                            <InputText @bind-Value="Driver.CarReg" class="form-control"></InputText>
                            <ValidationMessage For="() => Driver.CarReg"></ValidationMessage>
                        </div>
                        <div class="form-group mb-2">
                            <label class="form-label mb-1" for="employeeid">Manger</label>
                            <InputNumber @bind-Value="Driver.EmployeeId" class="form-control" placeholder="Manager ID"></InputNumber>
                            @* <InputSelect @bind-Value="Driver.EmployeeId" class="form-control">
                                @foreach (var item in EmployeeList)
                                {
                                    <option value="@item.EmployeeId">@item.EmployeeName</option>
                                }
                            </InputSelect> *@
                        </div>
                        <div class="modal-footer mb-2 border-0">
                            <button type="button" class="btn btn-secondary pressed" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary pressed">Save</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        }
        @if (ShowDeleteConfirmation)
        {
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">@Title task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body border-0">
                    <div>
                        <h3>Are you sure to remove this person?</h3>
                    </div>
                    <div class="modal-footer border-0 hstack gap-2">
                        <form method="dialog">
                            <button type="button" class="btn btn-secondary pressed" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary pressed" data-bs-dismiss="modal" @onclick="() => ConfirmDelete(true)">Yes, please remove.</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    function openModal(modalId) {
        var modal = new bootstrap.Modal(document.getElementById(modalId));
        modal.show();
    }
    function closeModal(modalId) {
        var modalElement = document.getElementById(modalId);
        var modal = bootstrap.Modal.getInstance(modalElement);
        if (modal) {
            modal.hide();
            modalElement.addEventListener('hidden.bs.modal', function () {
                document.body.classList.remove('modal-open');
                document.querySelector('.modal-backdrop').remove();
            }, { once: true });
        }
    }
</script>

@code {
    public string Title { get; set; } = "Add new";

    public void ChangeTitle(string title)
    {
        Title = title;
    }
    [Parameter]
    public Driver Driver { get; set; } = new Driver();
    [Parameter]
    public List<Employee> EmployeeList { get; set; } = new List<Employee>();
    [Parameter]
    public EventCallback<Driver> HandleAddDriver { get; set; }
    [Parameter]
    public EventCallback<Driver> HandleEditDriver { get; set; }
    [Parameter]
    public EventCallback HandleConfirmRemoveDriver { get; set; }


    public void ClearContainer()
    {
        Driver = new Driver();
    }
    private async Task Save()
    {
        await HandleAddDriver.InvokeAsync(Driver);
    }

    private bool ShowMainContent { get; set; } = true;
    private bool ShowDeleteConfirmation { get; set; } = false;
    public void LoadDefault()
    {
        ShowMainContent = true;
        ShowDeleteConfirmation = false;
    }
    public void ShowDeleteConfirmDialog()
    {
        ShowMainContent = false;
        ShowDeleteConfirmation = true;
    }

    public async Task OpenModal()
    {
        await js.InvokeVoidAsync("openModal", "staticBackdrop");
    }
    public async Task HideModal()
    {
        await js.InvokeVoidAsync("closeModal", "staticBackdrop");
    }

    private async Task ConfirmDelete(bool response)
    {
        if (response)
        {
            await HandleConfirmRemoveDriver.InvokeAsync();
            ShowDeleteConfirmDialog();
        }
    }
}
