@inject NavigationManager NavigationManager
@rendermode InteractiveServer


<div class="mt-5 me-4 text-end">
    <NavLink class="nav-link fs-4" href="/">
        <button class="btn btn-outline-dark">
            Back to the main page &nbsp;&nbsp;<i class="bi bi-arrow-return-left"></i>
        </button>
    </NavLink>
</div>
